body {
  margin: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgba(0, 0, 0, 0.87);
  text-align: var(--bs-body-text-align);
  background-color: #f1f3f4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.max {
  margin-top: 13vh;
}

.flex-active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 35%;
  margin-top: 20vh;
  padding-left: 5%;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 370px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 0.7rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

img,
svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.active {
  border: 2px solid transparent;
  border-radius: 30px;
  width: 352px;
  text-align: left;
  padding: 15px;
  background-color: #c2e7ff;
}

.non-active {
  margin-left: 1rem;
}

h3 {
  padding: 5% 0 1% 5%;
}

.card-layout {
  border: 1px solid #dadce0;
  background-color: #fff;
  box-shadow: var(
    --devsite-page-box-shadow,
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15)
  );
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
}

.table-heading {
  /* background-color: #e4e9f4; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.btn-outline-p {
  --bs-btn-color: #ea4335;
  --bs-btn-border-color: #ea4335;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ea4335;
  --bs-btn-hover-border-color: #ea4335;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ea4335;
  --bs-btn-active-border-color: #ea4335;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ea4335;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ea4335;
  --bs-gradient: none;
}

.delete-button {
  margin: 0 1% 0 12%;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #ea4335;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.table-stuff {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
}

.table {
  --bs-table-hover-bg: #e7e9f9;
  --bs-table-striped-bg: #fafafa;
  width: 97.7%;
  height: 100%;
  border-color: gray;
  border: solid #eee;
  border-width: 0 1px 1px 0;
  font-size: 16px;
  font-family: arial, helvetica;
  font-size: 10.5pt;
  cursor: default;
  margin: 0 1rem;
  background: white;
  border-spacing: 0;
  border-collapse: separate;
}

.flex-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.employee-detail {
  margin-left: 1rem;
}

.table-button {
  margin-right: 1rem;
  background: #1a73e8;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .table-button {
    padding: 0px 10px;
    margin-right: 3px;
  }

  .employee-detail {
    margin-right: 0.3px;
    margin-left: 3px;
    font-size: calc(1.4rem + 0.9vw);
  }
}

@media screen and (max-width: 615px) {
  .min-heading {
    width: 100px;
  }

  .delete-button {
    margin: 0 1% 0 0;
  }
}
