body {
  margin: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgba(0, 0, 0, 0.87);
  text-align: var(--bs-body-text-align);
  background-color: #f1f3f4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.flex-active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 35%;
  margin-top: 20vh;
  padding-left: 5%;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 370px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 0.7rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

img,
svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.active {
  border: 2px solid transparent;
  border-radius: 30px;
  width: 352px;
  text-align: left;
  padding: 15px;
  background-color: #c2e7ff;
}

.non-active {
  margin-left: 1rem;
}

h3 {
  padding: 5% 0 1% 5%;
}

.card-layout {
  border: 1px solid #dadce0;
  background-color: #fff;
  box-shadow: var(
    --devsite-page-box-shadow,
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15)
  );
  width: 80%;
  height: 113vh;
  margin-left: 10%;
  margin-right: 10%;
}

.table-heading {
  /* background-color: #e4e9f4; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.table {
  --bs-table-hover-bg: #e7e9f9;
  --bs-table-striped-bg: #fafafa;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-color: gray;
  border: solid #eee;
  border-width: 0 1px 1px 0;
  font-size: 16px;
}

.table-button {
  margin: 0 5% 0 50%;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.employee-task {
  width: 200px;
}

@media screen and (min-width: 619px) {
  .min {
    display: none;
  }
}

@media screen and (max-width: 1310px) and (min-width: 1007px) {
  .table-button {
    margin: 0 10% 0 60%;
  }
}

@media screen and (max-width: 1006px) and (min-width: 761px) {
  .table-button {
    margin: 0 15% 0 45%;
  }
}

@media screen and (max-width: 760px) and (min-width: 619px) {
  .table-button {
    margin: 0 20% 0 30%;
  }
}

@media screen and (max-width: 618px) {
  .max {
    display: none;
  }
}

@media screen and (max-width: 618px) {
  .max {
    display: none;
  }

  .table-button {
    margin: 0 13% 0 60%;
  }
}
