body {
  margin: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgba(0, 0, 0, 0.87);
  text-align: var(--bs-body-text-align);
  background-color: #f1f3f4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.max {
  margin-top: 5vh;
}

h4 {
  font-size: 1.5rem;
  width: 258px;
}

.form {
  padding-left: 10%;
  width: 68%;
}

.month {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 11vh;
  margin-left: 30%;
  margin-right: 1rem;
  gap: 1px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  width: 3rem;
  height: 3.6rem;
}

.flex-active {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 35%;
  margin-top: 20vh;
  padding-left: 5%;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 370px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 0.7rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

img,
svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

.active {
  border: 2px solid transparent;
  border-radius: 30px;
  width: 352px;
  text-align: left;
  padding: 15px;
  background-color: #c2e7ff;
}

.non-active {
  margin-left: 1rem;
}

h3 {
  width: 16rem;
  padding-top: 1%;
  font-weight: 550;
  margin-bottom: 0.1rem;
}

.card-layout {
  border: 1px solid #dadce0;
  background-color: #fff;
  box-shadow: var(
    --devsite-page-box-shadow,
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15)
  );
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.card-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #dadce0;
  background-color: #fff;
  box-shadow: var(
    --devsite-page-box-shadow,
    0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15)
  );
  width: 80%;
  height: auto;
  padding: 0.8rem 0 0.8rem 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.avatar {
  width: 13%;
  height: 13%;
  border: 1px solid #8f8f8f94;
  border-radius: 120px;
  padding: 7px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.table-heading {
  /* background-color: #e4e9f4; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 30%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.tex {
  color: #fff !important;
  background-color: #34a853 !important;
}

.badge {
  --bs-table-striped-bg: #34a853 !important;
  --bs-table-bg: #34a853 !important;
  --bs-table-color: #fff !important;
  --bs-table-hover-bg: #34a853 !important;
  --bs-table-striped-color: #fff !important;
  --bs-table-hover-color: #fff !important;
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 1em;
  --bs-badge-font-weight: 300;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  margin: 5px 0 5px 20%;
}

.b {
  --bs-table-striped-bg: #ea4335 !important;
  --bs-table-bg: #ea4335 !important;
  --bs-table-color: #fff !important;
  --bs-table-hover-bg: #ea4335 !important;
  --bs-table-striped-color: #fff !important;
  --bs-table-hover-color: #fff !important;
  --bs-badge-padding-x: 0.65em;
  --bs-badge-padding-y: 0.35em;
  --bs-badge-font-size: 1em;
  --bs-badge-font-weight: 300;
  --bs-badge-border-radius: var(--bs-border-radius);
  display: inline-block;
  padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
  font-size: var(--bs-badge-font-size);
  font-weight: var(--bs-badge-font-weight);
  line-height: 1;
  color: var(--bs-badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--bs-badge-border-radius);
  margin: 5px 0 5px 20%;
  width: 4.6rem;
}

.heading-main {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

.heading-footer {
  margin-top: 1rem;
}

.table {
  --bs-table-hover-bg: #e7e9f9;
  --bs-table-striped-bg: #fafafa;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  border-color: gray;
  border: solid #eee;
  border-width: 0 1px 1px 0;
  font-size: 16px;
}

.flex-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-button {
  margin-right: 4rem;
  background: #1a73e8;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.table-wrapper {
  overflow-x: scroll;
}

.table-4 {
  width: 125px !important;
}

@media screen and (max-width: 1100px) and (min-width: 601px) {
  .avatar {
    width: 155px;
    height: 155px;
    border: 1px solid #8f8f8f94;
    border-radius: 120px;
    padding: 7px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .card-heading {
    width: 90%;
    padding: 0.8rem 0 0.8rem 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  .card-layout {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
  }

  .badge {
    margin-left: 10%;
  }

  .b {
    margin-left: 10%;
  }

  .table-4 {
    width: 90px !important;
  }

  h3 {
    width: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 120px;
    height: 120px;
    border: 1px solid #8f8f8f94;
    border-radius: 120px;
    padding: 7px;
    margin-left: 0.6rem;
    margin-right: 1.5rem;
  }

  .card-heading {
    width: 90%;
    padding: 0.8rem 0 0.8rem 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }

  .card-layout {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
  }

  .badge {
    margin-left: 10%;
  }

  .b {
    margin-left: 10%;
  }

  .table-4 {
    width: 90px !important;
  }

  h3 {
    width: 12rem;
  }
}

@media screen and (max-width: 1209px) and (min-width: 916px) {
  .month {
    margin-left: 5%;
  }
}

@media screen and (max-width: 915px) {
  form {
    padding-left: 0;
  }

  .card-heading {
    width: 118%;
  }

  .card-layout {
    width: 114%;
  }
}

/* @media screen and (max-width: 720px) {
  
} */
