body {
  margin: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: #174ea6;
  text-align: var(--bs-body-text-align);
  background-color: #eaeff8;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.changes {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

.card-layout {
  width: 90%;
  height: auto;
  border-radius: 40px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-top: 15vh;
  margin-right: 5%;
  margin-left: 5%;
  background-color: var(--gm3-card-outlined-container-color,
      var(--gm3-sys-color-surface, #fff));
  display: flex;
  flex-direction: column;
}

p {
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 0rem;
  color: #174ea6;
  font-size: 16px;
  font-weight: 500;
}

.heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 1rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f2f2f2;
  border-radius: 35px;
  border: 0.0625rem solid #a9acaa;
  width: 90%;
  height: 3rem;
  font-size: 22px;
  font-weight: 400;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 0.35rem;
}

.flex-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3 {
  padding-left: 1%;
  padding-bottom: 0;
  color: #000;
  font-weight: 550;
}

.table-wrapper {
  overflow-x: scroll;
}

.table-buton {
  margin-right: 0;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.table-butto {
  margin-right: 0;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #FBBC05;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.table-button {
  margin-right: 0;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #393c40;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.delete-button {
  margin: 0 1% 0 12%;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #ea4335;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-outline-p {
  --bs-btn-color: #ea4335;
  --bs-btn-border-color: #ea4335;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ea4335;
  --bs-btn-hover-border-color: #ea4335;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ea4335;
  --bs-btn-active-border-color: #ea4335;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ea4335;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ea4335;
  --bs-gradient: none;
}