nav {
  margin-bottom: 0;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgba(0, 0, 0, 0.87);
  text-align: var(--bs-body-text-align);
  background-color: #eaeff8;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
}

.main-img,
svg {
  width: 470px;
  height: 300px;
  background-color: #e9ecef;
  padding-left: 0;
  padding-right: 0;
}

.my-5 {
  margin-top: 10rem !important;
  margin-bottom: 3rem !important;
}

.pb-0 {
  padding-bottom: 3rem !important;
}

.p-0 {
  padding: 0 4rem 0 0 !important;
  background-color: #e9ecef;
}

.offset-lg-1 {
  margin-left: 2.333333%;
}

.report-button {
  margin: 15px 1% 0 0%;
  background: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-sizing: border-box;
  color: #1a73e8;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  letter-spacing: 0;
  line-height: 34px;
  min-width: 36px;
  outline: 0;
  overflow: hidden;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: none;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-property: background-color, border, box-shadow;
  vertical-align: middle;
  white-space: nowrap;
}

.row {
  height: 65vh;
}

.flex-button {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 1202px) {
  .min {
    display: none;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1201px) {
  .min {
    display: none;
  }

  .main-img,
  svg {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .min {
    display: none;
  }

  .main-img,
  svg {
    width: 300px;
    height: 260px;
  }
}

@media screen and (max-width: 992px) {
  .max {
    display: none;
  }

  .container {
    --bs-gutter-x: 0 !important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    --bs-gutter-y: 32px;
    width: 35vw;
    height: 90vh;
    margin-left: 290px;
    margin-right: 320px;
  }

  .lead {
    font-size: 1.15rem;
    font-weight: 300;
  }

  .flex-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h6,
  h6 {
    font-size: 30px;
  }

  .card {
    --bs-border-color-translucent: transparent;
  }
}
