<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/attendence/admin/employee" class="needs-validation">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mark Rober" name="name" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Employee Id</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fa2r4" name="empid" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Hr Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fa2r4" name="hrname" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Hr Id</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fa2r4" name="hrid">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>